body {
  width: 300px;
  height: 150px;
  border: 1px solid;
  border-radius: 10px;
  margin: 0;
  padding: 35px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background: black;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}